
.panel-default {
	width: 850px; margin: 0 auto;
}

#heading {
	font-weight: bold
}

#signIn {
	float: right;
}

#search{
	text-align: left;
	margin: 25px;
}

.bar {
	margin: 0px 25px 0px 25px;
}
h1{
	text-align: center;
}
.calendar {
    width: 850px; margin: 0 auto;
}
.date{
	text-align: center;
	font-weight: bold;
}
.panel-body{
	text-align: center;
}
.time{
	font-weight: bold;
}
.text-center {
	margin-right: auto;
	margin-left: auto;
}

.weather {
	padding: 15px;
}