body {
    background-image: url("../img/formbkgrd.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
}
.panel-default {
	width: 850px; margin: 0 auto;
}

#heading {
	font-weight: bold
}

#signIn {
	float: right;
}

#search{
	text-align: left;
	margin: 25px;
}

.bar {
	margin: 0px 25px 0px 25px;
}
h1{
	text-align: center;
}
.Date {
	margin: 25px;
}

.time {
	position: relative;
}
.demo {
	float: right;
}


.calendar {
    width: 850px; margin: 0 auto;
}

